*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #D1D1D1;
}

header{
    margin-top: 1rem;
    font-size: 28px;
    font-weight: bolder;
}

footer{
    margin-bottom: 1rem;
    font-size: 20px;
}

/*

    #D1D1D1
    #DBDBDB
    #85C7F2
    #636363
    #4C4C4C

*/